@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shrikhand&display=swap");

header video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  /* make sure it under all other elements */
  z-index: -1;
  /* cover entire window screen */
  object-fit: cover;
}

header hgroup {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  font-weight: bold;
  /* vh: view port height, vw: view port width */
  padding: 10vh 10vw;
}

header hgroup h1 {
  font-family: "Shrikhand", serif;
  font-size: 6rem;
  margin-bottom: 0;
  text-shadow: 0px 2px 40px rgb(41, 28, 2);
}

header hgroup p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-top: 1rem;
  font-size: 2rem;
  text-shadow: 0px 2px 6px rgb(41, 28, 2);
}

header hgroup button {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10rem;
  backdrop-filter: blur(0.2rem);
  font-weight: bold;
  text-transform: uppercase;
  color: #222;
  font-size: 1.1rem;
  margin-top: 2rem;
}

header hgroup button:hover {
  background: rgb(255, 255, 255);
  color: black;
}
